.cont-sale {
    padding: 50px 150px 0 150px;
}

.m-left {
    margin-left: 15px;
}

.m-right {
    margin-right: 50px;
}

.m-top {
    margin-top: 20px;
}

table {
    width: 100%;
    margin-top: 10px;
}